@import "__title/promo__title.css";

.promo {
    display: flex;
    flex: 1 0 auto;
    width: 85%;
    max-width: 1200px;
    background: #272727;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .promo {
        width: 95%;
    }
}
