.techs__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    max-width: 460px;
    margin: 0;
}

@media screen and (max-width: 640px) {
    .techs__text {
        font-size: 11px;
        line-height: 16px;
        width: 90%;
    }
}