.about-me__info {
    display: flex;
    flex-direction: column;
    width: 53%;
    justify-content: space-between;
}

@media screen and (max-width: 640px){
    .about-me__info {
        width: 100%;
    }
}