.auth__form-item {
    margin: 0 0 24px 0;
    background: none;
    border-right: none;
    border-bottom: 1px solid #424242;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 10px 0;
}

.auth__form-item:focus {
    outline: none;
}

.auth__form-item:invalid {
    color: #EE3465;
    margin: 0;
}