.about__info {
    display: grid;
    column-gap: 30px;
    grid-template-areas: "item-1 item-2" "info-bar info-bar";
}

@media screen and (max-width: 425px){
    .about__info {
        grid-template-areas: "item-1 item-1" "item-2 item-2" "info-bar info-bar";
    }
}