.header__films-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    margin: 0 10px 0 0;
    text-decoration: none;
    color: white;
    transition: 200ms ease-in-out;
}

.header__films-item:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .header__films-item {
        width: unset;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 28px 0;
    }
}