.filter__label {
    display: flex;
    align-items: center;
    font-weight: normal;
    line-height: 18px;
    font-size: 12px;
}

@media screen and (max-width: 425px) {
    .filter__label {
        font-size: 11px;
    }
}